## Funciones de agregacion y group by

In [1]:
import pyspark
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('cuarta').getOrCreate()

In [20]:
df = spark.read.csv('data2.csv',sep=';',header=True,inferSchema=True)

In [21]:
df.head(4)

[Row(Name='Edward', Departament='Data Science', Salary=10000),
 Row(Name='Jose', Departament='IOT', Salary=5000),
 Row(Name='Krish', Departament='Big Data', Salary=4000),
 Row(Name='Mahesh', Departament='Big Data', Salary=4000)]

In [23]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departament: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [22]:
df.show()

+-------+------------+------+
|   Name| Departament|Salary|
+-------+------------+------+
| Edward|Data Science| 10000|
|   Jose|         IOT|  5000|
|  Krish|    Big Data|  4000|
| Mahesh|    Big Data|  4000|
|Sudhash|Data Science|  3000|
|Sudhash|         IOT| 20000|
|Sudhash|    Big Data|  5000|
|  Sunny|Data Science| 10000|
| Edward|         IOT|  2000|
| Edward|    Big Data|  4000|
|  Sunny|    Big Data|  1000|
+-------+------------+------+

In [24]:
# GROUPBY

In [32]:
df.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
| Edward|      16000|
|  Sunny|      11000|
|  Krish|       4000|
|   Jose|       5000|
|Sudhash|      28000|
| Mahesh|       4000|
+-------+-----------+

In [34]:
df.groupBy('Departament').sum().show()

+------------+-----------+
| Departament|sum(Salary)|
+------------+-----------+
|         IOT|      27000|
|    Big Data|      18000|
|Data Science|      23000|
+------------+-----------+

In [36]:
df.groupBy(['Name','Departament']).sum().show()

+-------+------------+-----------+
|   Name| Departament|sum(Salary)|
+-------+------------+-----------+
|  Sunny|    Big Data|       1000|
| Mahesh|    Big Data|       4000|
|  Sunny|Data Science|      10000|
|Sudhash|    Big Data|       5000|
|   Jose|         IOT|       5000|
| Edward|         IOT|       2000|
|Sudhash|Data Science|       3000|
| Edward|Data Science|      10000|
|Sudhash|         IOT|      20000|
|  Krish|    Big Data|       4000|
| Edward|    Big Data|       4000|
+-------+------------+-----------+

In [37]:
df.groupBy('Departament').count().show()

+------------+-----+
| Departament|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    5|
|Data Science|    3|
+------------+-----+

In [44]:
df.agg({'Salary':'count'}).show()

+-------------+
|count(Salary)|
+-------------+
|           11|
+-------------+