In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     ------------------------------------ 281.3/281.3 MB 896.8 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     -------------------------------------- 199.7/199.7 kB 2.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764040 sha256=7855459e4dad6824508ff483f424b81667db8bb9374062ea57df011103b76218
  Stored in directory: c:\users\tacas\appdata\local\pip\cache\wheels\05\75\73\81f84d174299abca38dd6a06a5b98b08ae25fce50ab8986fa1
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyspark

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('data.csv',sep=';')

In [18]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.head(2)

    name  age
0  maria   29
1  jorge   35

In [10]:
# Iniciamos sesion en spark
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.appName('Practica').getOrCreate()

In [12]:
spark

In [15]:
df_pyspark = spark.read.csv('data.csv',sep=';',header=True)

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.show()

+-------+---+
|   name|age|
+-------+---+
|  maria| 29|
|  jorge| 35|
|jessica| 32|
|  erick| 20|
+-------+---+

In [31]:
df_pyspark.head(2)

[Row(name='maria', age='29'), Row(name='jorge', age='35')]

In [32]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)