**In this video we will cover**
* PySpark dataframe
* Reading dataframe
* Checking the datatype of the columns(shcema)
* Slecting columns and indexing
* Check describe option similar to pandas
* adding columns
* dropping columns

In [1]:
import pyspark
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('PC1').getOrCreate()

In [4]:
spark

In [5]:
# Leer un csv... metodo1
pyspark_df = spark.read.csv('data.csv',sep=';',header=True)

In [11]:
pyspark_df.show()

+-------+---+
|   name|age|
+-------+---+
|  maria| 29|
|  jorge| 35|
|jessica| 32|
|  erick| 20|
+-------+---+

In [6]:
#Leer un csv... metodo2
spark_df2 = spark.read.option('header','true').option('sep',';').csv('data.csv')

In [7]:
spark_df2.show()

+-------+---+
|   name|age|
+-------+---+
|  maria| 29|
|  jorge| 35|
|jessica| 32|
|  erick| 20|
+-------+---+

In [8]:
# check schema.... visualizar columnas y su tipo
spark_df2.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

**Podemos ver que spark nos da como resultado string a la columna que es integer, veamos como solucionarlo**

In [15]:
# Diferentes formas de extraer la informacion de un csv

In [9]:
spark_df3 = spark.read.csv('data.csv',sep=';',header=True,inferSchema=True)

In [11]:
spark_df4 = spark.read.option('header',True).option('sep',';').option('inferSchema',True).csv('data.csv')

In [13]:
spark_df5 = spark.read.options(header=True,sep=';',inferSchema=True).csv('data.csv')

In [ ]:
# Mostramos el schema ahora de nuestro dataframe

In [10]:
spark_df3.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [12]:
spark_df4.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [14]:
spark_df5.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

**Seleccionamos columnas**

In [19]:
spark_df5.columns

['name', 'age']

In [21]:
spark_df3.head(2)

[Row(name='maria', age=29), Row(name='jorge', age=35)]

In [26]:
spark_df2.select('name').show()

+-------+
|   name|
+-------+
|  maria|
|  jorge|
|jessica|
|  erick|
+-------+

In [32]:
spark_df2.select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
|  maria| 29|
|  jorge| 35|
|jessica| 32|
|  erick| 20|
+-------+---+

In [35]:
spark_df2['name'] # no retorna la informacion, solo que si hay una columna 'name'

Column<'name'>

In [36]:
spark_df2.dtypes

[('name', 'string'), ('age', 'string')]

**Describe**

In [40]:
spark_df2.describe().show()

+-------+-----+----------------+
|summary| name|             age|
+-------+-----+----------------+
|  count|    4|               4|
|   mean| null|            29.0|
| stddev| null|6.48074069840786|
|    min|erick|              20|
|    max|maria|              35|
+-------+-----+----------------+

**Eliminar y a√±adir columnas**

In [52]:
#Agregando

In [53]:
spark_df2 = spark_df2.withColumn('age_more_2',spark_df2['age']+2)

In [54]:
spark_df2.describe()

DataFrame[summary: string, name: string, age: string, age_more_2: string]

In [51]:
#Eliminando

In [57]:
spark_df2 = spark_df2.drop('age_more_2')

In [58]:
spark_df2

DataFrame[name: string, age: string]

In [59]:
# Rename column

In [62]:
spark_df2 = spark_df2.withColumnRenamed('name','Name')

In [64]:
spark_df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)