* Filter operation
* &,|,==
* ~

In [2]:
import pandas as pd
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('tree').getOrCreate()

In [5]:
df = spark.read.csv('data.csv',sep=';',header=True,inferSchema=True)

In [6]:
df.show()

+-------+----+-------+
|   name| age|salarie|
+-------+----+-------+
|  maria|  29| 112312|
|  jorge|  35| 123423|
|jessica|  32|  25343|
|  erick|  20|  35464|
|   null|  22|   null|
| lucero|null|  43211|
|   null|null|   null|
+-------+----+-------+

**Filter operation**

In [8]:
df.filter("salarie>110000").show()

+-----+---+-------+
| name|age|salarie|
+-----+---+-------+
|maria| 29| 112312|
|jorge| 35| 123423|
+-----+---+-------+

In [10]:
df.filter("age>25").select(["name","age"]).show()

+-------+---+
|   name|age|
+-------+---+
|  maria| 29|
|  jorge| 35|
|jessica| 32|
+-------+---+

In [14]:
df.filter((df['age']>25) & (df['age']<30)).select(["name","age"]).show()

+-----+---+
| name|age|
+-----+---+
|maria| 29|
+-----+---+

In [17]:
df.filter(~(df['age']>30)).show()

+-----+---+-------+
| name|age|salarie|
+-----+---+-------+
|maria| 29| 112312|
|erick| 20|  35464|
| null| 22|   null|
+-----+---+-------+