## Funciones de agregacion y group by

In [1]:
import pyspark
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('cuarta').getOrCreate()

In [4]:
df = spark.read.csv('data.csv',sep=';',header=True,inferSchema=True)

In [15]:
df.head(4)

[Row(name='maria', age=29, salarie=112312),
 Row(name='jorge', age=35, salarie=123423),
 Row(name='jessica', age=32, salarie=25343),
 Row(name='erick', age=20, salarie=35464)]